body {
	background-color: #fcfcfc;
	font-family: 'Arial', sans-serif;
	letter-spacing: -.5px;
}

.form-horizontal .control-label {
	text-align: left;
}

textarea {
	resize: none;
}

.eventRed {
	background-color: red;
}

.mute-contents {
	padding: 20px 0px 20px 0px;
	margin: 0px 2px 0px 2px;
	border: 3px solid #33455c;
	border-radius: 5px;
}

.mute-contents > * {
	color: #33455c;
}

.mute-contents:hover {
	/*color: #909194;*/
	border-color: #f79729;
}

.mute-contents > *:hover {
	/*color: #909194;*/
	color: #f79729;
	text-decoration: none;
}

.logo-primary {
	color: #f79729;
}
.logo-primary:hover {
	color: #33455c;
}

.navbar-brand > img.navbar-logo {
	position: absolute;
	top: 5px;
}